@import "base/reset";
@import "utils/variables";
html {
  width: 100%;
}
body {
  
  width: 100%;
  background-image: url(img/background-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
main {
  
  max-width: 1440px;
  width: 100%;
  font-family: "Pattaya";
  margin: auto;
}

header {
  color: white;
  position: absolute;
  font-size: 4em;
  left: 50%;
  transform: translateX(-50%);
  top: 2%;
  text-shadow: 2px 2px 5px black;
  white-space: nowrap;
  .localisation{
    display: flex;
    font-size: .4em;
    justify-content: center;
    svg{
      width: 16px;
      margin-right: 10px;
    }
  }
}
.carte__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 100px; 
  padding-top: 20px;

}
.carte {
  width: 90%;
  height: 230px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 15px;  
  box-shadow: 5px 5px 10px white;
  p{
    font-size: 1.6em;
    padding-top: 200px;
    padding-left: 15px;
  }
  &__plats{
    background-image:url(img/plats.jpg);
    background-size: cover;
    background-position: top;
    &:hover{
      transform: scale(1.05);
      transition: transform .4s ease-in-out;
    }
    &:not(:hover){
      transform: scale(1);
      transition: transform .4s ease-in-out;
    }
  }
  &__huiles{
    background-image: url(img/huile-essentielle-bourbon.jpg_720_1000_2.jpg);
    background-size: cover;
    background-position:center;
    &:hover{
      transform: scale(1.05);
      transition: transform .4s ease-in-out;
    }
    &:not(:hover){
      transform: scale(1);
      transition: transform .4s ease-in-out;
    }
  } 
}

a{
  text-decoration: none;
  color: white;
}
footer{
  position: absolute;
  width: 80%;
  margin: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p{
    font-size: 25px;
    &:hover{
      text-decoration: underline;
    }
  }
  img{
    color: white;
    width: 45px;
    &:hover{
      transform: scale(1.1);
      transition: transform .4s ease-in-out;
    }
    &:not(:hover){
      transform: scale(1);
      transition: transform .4s ease-in-out;
    }
  }
}