@import "base/reset";
@import "utils/variables";
@import "pages/media";
html {
  width: 100%;
}
body {
  
  width: 100%;
  background-image: url(img/background-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;  
  @media(min-width: 800px){
    background: url(img/background_img_resize.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
main {
  
  max-width: 1440px;
  width: 100%;
  font-family: "Pattaya";
  margin: auto;
}

header {
  color: white;
  position: absolute;
  font-size: 4em;
  left: 50%;
  transform: translateX(-50%);
  top: 2%;
  text-shadow: 2px 2px 5px black;
  white-space: nowrap;
  .localisation{
    display: flex;
    font-size: .4em;
    justify-content: center;
    svg{
      width: 16px;
      margin-right: 10px;
    }
  }
}
.carte__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 100px; 
  padding-top: 20px;
  border: 1px solid red;

}
.carte {
  width: 90%;
  max-width: 600px;
  height: 230px;
  margin-bottom: 20px;
  border-radius: 15px;  
  box-shadow: 5px 5px 10px white;
  p{
    font-size: 1.6em;
    padding-top: 200px;
    padding-left: 15px;
  }
  &__plats{
    background-image:url(img/plats.jpg);
    background-size: cover;
    background-position: top;
    &:hover{
      transform: scale(1.05);
      transition: transform .4s ease-in-out;
    }
    &:not(:hover){
      transform: scale(1);
      transition: transform .4s ease-in-out;
    }
  }
  &__salades{
    background-image:url(img/avoir-de-belle-salades_double-v2.jpg);
    background-size: cover;
    background-position: center;
    &:hover{
      transform: scale(1.05);
      transition: transform .4s ease-in-out;
    }
    &:not(:hover){
      transform: scale(1);
      transition: transform .4s ease-in-out;
    }
    @media(min-width: 800px){
      margin: auto;
    }
  }
  &__huiles{
    background-image: url(img/huile-essentielle-bourbon.jpg_720_1000_2.jpg);
    background-size: cover;
    background-position:center;
    margin-top: 20px;
    @media(min-width:800px){
      float: right;
      
    }
    &:hover{
      transform: scale(1.05);
      transition: transform .4s ease-in-out;
    }
    &:not(:hover){
      transform: scale(1);
      transition: transform .4s ease-in-out;
    }
  } 
}

a{
  text-decoration: none;
  color: white;
}
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;

  p{
    font-size: 25px;
    &:hover{
      text-decoration: underline;
    }
  }
  img{
    color: white;
    width: 40px;
    &:hover{
      transform: scale(1.1);
      transition: transform .4s ease-in-out;
    }
    &:not(:hover){
      transform: scale(1);
      transition: transform .4s ease-in-out;
    }
  }
}