@mixin text-apparition {
  p {
    position: absolute;
    right: 10%;
    top: 6px;
  }
  &:hover p {
    transform: scale(1.1) translateX(10%);
    transition: transform 0.4s ease-in-out;
  }
  &:not(:hover) p {
    transform: scale(0) translateX(10%);
    transition: transform 0.4s ease-in-out;
  }
}
