html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes apparition {
  from {
    -webkit-transform: scale(0) rotate(0);
            transform: scale(0) rotate(0);
  }
  to {
    -webkit-transform: scale(1) rotate(720deg);
            transform: scale(1) rotate(720deg);
  }
}

@keyframes apparition {
  from {
    -webkit-transform: scale(0) rotate(0);
            transform: scale(0) rotate(0);
  }
  to {
    -webkit-transform: scale(1) rotate(720deg);
            transform: scale(1) rotate(720deg);
  }
}

body {
  max-width: 1440px;
  margin: auto;
  height: 100vh;
  background-image: url(../img/papiers-peints-ibiscus.jpg.png), url(../img/papiers-peints-ibiscus.jpg.png), url(../img/liereSmart.jpg);
  background-repeat: no-repeat;
  background-position: right top, left top, center;
  background-size: 80px, 80px, cover;
}

h1 {
  font-family: "Pattaya";
  font-size: 3em;
  text-align: center;
  padding-top: 10px;
  text-decoration: underline;
  color: white;
  -webkit-animation: apparition 1s ease-in-out forwards;
          animation: apparition 1s ease-in-out forwards;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  height: 500px;
  margin: auto;
  margin-top: 40px;
}

.plats__container {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plat {
  width: 100%;
  height: 25%;
  font-family: "Pattaya";
  font-size: 1.2em;
}

.plat p {
  color: white;
}

.plat--rougail {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url(../img/plats/rougailSmart.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: apparition 1s .7s ease-in-out forwards;
          animation: apparition 1s .7s ease-in-out forwards;
}

.plat--rougail p {
  -webkit-transform: scale(0);
          transform: scale(0);
  text-align: center;
  line-height: 200px;
}

.plat--rougail:hover p {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.plat--rougail:not(:hover) p {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.plat--cari {
  width: 100%;
  height: 100%;
  background-image: url(../img/plats/cariSmart.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: apparition 1s .9s ease-in-out forwards;
          animation: apparition 1s .9s ease-in-out forwards;
}

.plat--cari p {
  -webkit-transform: scale(0);
          transform: scale(0);
  text-align: center;
  line-height: 200px;
}

.plat--cari:hover p {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.plat--cari:not(:hover) p {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.plat--bouchon {
  width: 100%;
  height: 100%;
  background-image: url(../img/plats/bouchonsSmart.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: apparition 1s 1.1s ease-in-out forwards;
          animation: apparition 1s 1.1s ease-in-out forwards;
}

.plat--bouchon p {
  -webkit-transform: scale(0);
          transform: scale(0);
  text-align: center;
  line-height: 200px;
}

.plat--bouchon:hover p {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.plat--bouchon:not(:hover) p {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.plat--achards {
  width: 100%;
  height: 100%;
  background-image: url(../img/plats/AchardsSmart.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: apparition 1s .7s ease-in-out forwards;
          animation: apparition 1s .7s ease-in-out forwards;
}

.plat--achards p {
  -webkit-transform: scale(0);
          transform: scale(0);
  text-align: center;
  line-height: 200px;
}

.plat--achards:hover p {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.plat--achards:not(:hover) p {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.plat--massale {
  width: 100%;
  height: 100%;
  background-image: url(../img/plats/massaleSmart.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: apparition 1s .9s ease-in-out forwards;
          animation: apparition 1s .9s ease-in-out forwards;
}

.plat--massale p {
  -webkit-transform: scale(0);
          transform: scale(0);
  text-align: center;
  line-height: 200px;
}

.plat--massale:hover p {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.plat--massale:not(:hover) p {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.plat--jdf {
  width: 100%;
  height: 100%;
  background-image: url(../img/plats/jdfSmart.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: apparition 1s 1.1s ease-in-out forwards;
          animation: apparition 1s 1.1s ease-in-out forwards;
}

.plat--jdf p {
  -webkit-transform: scale(0);
          transform: scale(0);
  text-align: center;
  line-height: 200px;
}

.plat--jdf:hover p {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.plat--jdf:not(:hover) p {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}
/*# sourceMappingURL=stylePlats.css.map */