@import "../base/reset";
@import "../utils/mixins";
@import "../utils/keyframes";

body {
  max-width: 1440px;
  margin: auto;
  height: 100vh;
  background-image: url(../img/papiers-peints-ibiscus.jpg.png),
    url(../img/papiers-peints-ibiscus-retourne.jpg.png), url(../img/fondPlats.webp);
  background-repeat: no-repeat;
  background-position: right top, left top,center;
  background-size: 60px, 60px, cover;
  @media(max-width :800px){    
    background-image: url(../img/papiers-peints-ibiscus.jpg.png),
    url(../img/papiers-peints-ibiscus-retourne.jpg.png), url(../img/fondPlatsSmart.jpg);
  background-repeat: no-repeat;
  background-position: right top, left top,center;
  background-size: 60px, 60px, cover;
  }
    
}

h1 {
  font-family: "Pattaya";
  font-size: 2em;
  text-align: center;
  padding-top: 10px;
  text-decoration: underline;
  color: white;
  animation: apparition 1s ease-in-out forwards;
}
section {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 85%;
  margin: auto;
  margin-top: 40px;
}
.plats__container {
  width: 40%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.plat {
  width: 100%;
  height: 25%;
  font-family: "Pattaya";
  font-size: 1.2em;
  margin-bottom: 25px;
  position: relative;
  @media(min-width: 800px){
    height: 25%;
  }
  p {
    color: rgb(255, 255, 255);
    
  }  
  &--rougail {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../img/plats/rougailSmart.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    transform: scale(0);
    @include text-apparition;
    animation: apparition 1s .7s ease-in-out forwards;
    @media(min-width: 800px){
      background-image: url(../img/plats/rougail.png);
    }
  }
  &--cari {
    width: 100%;
    height: 100%;
    background-image: url(../img/plats/cariSmart.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    transform: scale(0);
    @include text-apparition;
    animation: apparition 1s .9s ease-in-out forwards;
    @media(min-width: 800px){
      background-image: url(../img/plats/cari.jpg);
    }
  }
  &--bouchon {
    width: 100%;
    height: 100%;
    background-image: url(../img/plats/bouchonsSmart.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    transform: scale(0);
    @include text-apparition;
    animation: apparition 1s 1.1s ease-in-out forwards;
    @media(min-width: 800px){
      background-image: url(../img/plats/bouchons.jpg);
    }
  }
  &--achards {
    width: 100%;
    height: 100%;
    background-image: url(../img/plats/AchardsSmart.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    transform: scale(0);
    @include text-apparition;
    animation: apparition 1s .7s ease-in-out forwards;
    @media(min-width: 800px){
      background-image: url(../img/plats/Achards.jpg);
    }
  }
  &--massale {
    width: 100%;
    height: 100%;
    background-image: url(../img/plats/massaleSmart.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    transform: scale(0);
    @include text-apparition;
    animation: apparition 1s .9s ease-in-out forwards;
    @media(min-width: 800px){
      background-image: url(../img/plats/massle.webp);
    }
  }
  &--jdf {
    width: 100%;
    height: 100%;
    background-image: url(../img/plats/jdfSmart.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    transform: scale(0);    
    @include text-apparition;
    animation: apparition 1s 1.1s ease-in-out forwards;
    @media(min-width: 800px){
      background-image: url(../img/plats/jus.jpg);
    }
    + p {
      white-space: nowrap;
    }    
  }
}
